.main-container
    width: 594px
    margin-left: (54 - 8)px
    //margin-right: auto
    padding-top: 58px

    &__title
        text-align: center
        text-transform: uppercase
        color: #4f4f4f
        font-size: 18px
        font-family: "Conv_Lato-Black"
        letter-spacing: 0.9px
        word-spacing: 4px