.main-container
    width: 594px
    margin-left: 46px    
    padding-top: 58px

    &__title
        cursor: default
        text-align: center
        text-transform: uppercase
        color: #4f4f4f
        font-size: 18px
        font-family: "Conv_Lato-Black"
        letter-spacing: 0.9px
        word-spacing: 4px