.main-container
    include ../standard-buttons/standard-buttons.pug
    include ../arrow-buttons/arrow-buttons.pug
    include ../percentages-pie-chart/percentages-pie-chart.pug
    include ../sliders/sliders.pug