.main-container    
    width: 37.125rem
    margin-left: auto
    margin-right: auto    
    padding-top: 4.5625rem
    padding-bottom: 6.8125rem
    /*width: 594px
    margin-left: 45px    
    padding-top: 73px
    padding-bottom: 109px*/

    &__title
        margin-top: 0
        margin-bottom: 0        
        text-align: center
        text-transform: uppercase
        color: #4f4f4f
        font-size: 1.125rem
        font-family: "Lato"
        font-weight: 900
        letter-spacing: 0.05625rem
        word-spacing: 0.25rem