.main-container
    include ../standard-buttons-container/standard-buttons-container.pug
    include ../arrow-buttons-container/arrow-buttons-container.pug
    include ../percentages-pie-chart-container/percentages-pie-chart-container.pug
    include ../sliders-container/sliders-container.pug
    include ../stages-container/stages-container.pug
    include ../form-elements-container/form-elements-container.pug
    include ../search-dropdown-container/search-dropdown-container.pug