include ../location/location.pug
include ../elem-demo-title/elem-demo-title.pug

section.location-container
    +elem_demo_title("Location")
    .location-container__content
        +location("1259 California ST San Francisco, CA", "Meet us!")