include ../location/location.pug

section.location-container
    header.ui-kit__title Location
    .location-container__content
        +location("1259 California ST San Francisco, CA", "Meet us!")   