include ../location/location.pug
include ../section-title/section-title.pug

mixin location-container
    section.location-container
        +section-title({title: "Location"})
        .location-container__location
            +location({localAddress: "1259 California ST", globalAddress: "San Francisco, CA", title: "Meet us!"})
