.location-container
    margin-bottom: 50px

    &__content
        margin-top: 30px


@media (max-width: 610px)
    .location-container
        width: 100%
        .location
            width: 100%            

@media (max-width: 400px)
    .location-container
        .location
            &__meet-us
                font-size: 29px
                line-height: 30px
            
            &__address
                font-size: 12px
            
@media (max-width: 387px)
    .location-container
        .location
            &__meet-us
                font-size: 26px
            
            &__address
                font-size: 11px

@media (max-width: 374px)
    .location-container
        .location
            &__meet-us
                font-size: 23px
            
            &__address
                font-size: 10px

@media (max-width: 355px)
    .location-container
        .location
            &__meet-us
                font-size: 20px 
            
            &__address
                font-size: 9.5px

            &__footer-text
                margin-left: 23px
                
            
