include ../location/location.pug
include ../elem-demo-title/elem-demo-title.pug

section.location-container
    +elem-demo-title({title: "Location"})
    .location-container__content
        +location({address: "1259 California ST San Francisco, CA", title: "Meet us!"})