.location-container
  margin-bottom: 50px

  @media (max-width: 655px)
    width: 95.646%

  .location
    @media (max-width: 655px)
      width: 100%

    &__title
      @media (max-width: 450px)
        font-size: 25px

    &__address
      @media (max-width: 450px)
        font-size: 11px

      @media (max-width: 390px)
        display: none

    &__footer-text
      @media (max-width: 450px)
        margin-left: 23px

    &__footer-buttons
      @media (max-width: 390px)
        width: 90px

  &__content
    margin-top: 30px
