include ../arrow-button/arrow-button.pug

.arrow-buttons-container
    h2.arrow-buttons-container__title.main-container__title Arrow buttons
    .arrow-buttons-container__content
        .arrow-buttons-container__part
            +arrow_button("left")
            +arrow_button("right")
            +arrow_button("left")
        .arrow-buttons-container__part
            +arrow_button("right")
            +arrow_button("left")
            +arrow_button("right")