include ../arrow-button/arrow-button.pug

.arrow-buttons-container
    h2.arrow-buttons-container__title.main-container__title Arrow buttons
    .arrow-buttons-container__content
        - for (i = 0; i < 3; i++)
            +arrow_button("left")
            +arrow_button("right")