.arrow-buttons-container
    margin-left: 5.375rem  
    margin-bottom: 2.8125rem
    width: 26.25rem
    
    &__content
        display: flex
        justify-content: space-between
        margin-top: 2.1875rem
    
    .arrow-button           
        width: 3.125rem
        height: 3.125rem        
        border-width: 0.1875rem 

        &::after            
            top: 0.875rem
            width: 0.8125rem
            height: 0.8125rem        
            border-width: 0.25rem  

        &_right::after                    
            right: 1rem
        
        &_left::after            
            left: 1rem

