.form-elements-container
    &__content
        margin-top: 45px               

    .send-message-container
        margin-top: 4px
        display: inline-block
        width: 50%
        
    .toggles-tick-box-container        
        display: inline-block  
        vertical-align: top       
        width: 50%