include ../send-message/send-message.pug

.form-elements-container
    h2.form-elements-container__title.main-container__title Form Elements
    .form-elements-container__content
        .send-message-container
            +send_message()
        .toggles-tick-box-container
            include ../toggles-container/toggles-container.pug
            include ../tick-box-container/tick-box-container.pug
            
    