.search-user-profile
  width: 100%
  margin-bottom: 67px

  @media (max-width: 637px)
    .search-dropdown
      width: 288px
      padding: 0
      margin-bottom: 55px
      display: block
      margin-left: auto
      margin-right: auto

    .user-profile-container
      width: 288px
      display: block
      margin-left: auto
      margin-right: auto

      &__content
        padding: 0
