include ../search-dropdown/search-dropdown.pug
include ../user-profile-container/user-profile-container.pug

mixin search-user-profile(profileData = {})
    .search-user-profile
        .search-user-profile__search-dropdown
            +search-dropdown
        .search-user-profile__user-profile
            +user-profile-container(profileData)
