include ../standard-button/standard-button.pug
include ../elem-demo-title/elem-demo-title.pug

section.standard-buttons
    +elem-demo-title({title: "Standard buttons"})
    .standard-buttons__content
        .standard-buttons__content-part
            - const smallBlue = {size: "small", color: "blue", label: "button", mixClass: "standard-buttons__button"};
            - const bigBlue = {size: "big", color: "blue", label: "button", mixClass: "standard-buttons__button"};
            - for (let i = 0; i < 3; i++)
                +standard_button(smallBlue)
                +standard_button(bigBlue)
        .standard-buttons__content-part
            - const smallRed = {size: "small", color: "red", label: "button", mixClass: "standard-buttons__button"};
            - const bigRed = {size: "big", color: "red", label: "button", mixClass: "standard-buttons__button"};
            - for (let i = 0; i < 3; i++)
                +standard_button(bigRed)
                +standard_button(smallRed)
