.standard-buttons
  width: 465px
  margin-bottom: 36px 

  &__content
    margin-top: 70px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end 

  &__content-part
    width: 219px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end
      
  &__button
    margin-bottom: 21px

@media (max-width: 490px)
  .standard-buttons
    width: 232.5px

    &__content
      margin-top: 35px