.standard-buttons
  width: 29.0625rem
  margin-bottom: 2.25rem

  @media (max-width: 490px)
    width: 14.5313rem

  &__content
    margin-top: 4.375rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end

    @media (max-width: 490px)
      margin-top: 2.1875rem

  &__content-part
    width: 13.6875rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end

  &__button
    margin-bottom: 1.3125rem
