include ../standard-button-big/standard-button-big.pug
include ../standard-button-small/standard-button-small.pug

.standard-buttons   
    //это легально? (h2)
    h2.standard-buttons__title.main-container__title Standard buttons
    .standard-buttons__content
        - for(i = 0; i < 3; i++)
            .standard-buttons__row
                +standard_button_small("blue", "button")
                +standard_button_big("blue", "button") 
                +standard_button_big("red", "button") 
                +standard_button_small("red", "button")