.standard-buttons
    width: 465px
    margin-left: 65px
    margin-right: 64px

    &__row
        display: flex 
        justify-content: space-between
        align-items: flex-end 
        margin-bottom: 20px    