include ../standard-button/standard-button.pug
include ../ui-kit-title/ui-kit-title.pug

section.standard-buttons
    +ui-kit-title({title: "Standard buttons"})
    .standard-buttons__content
        .standard-buttons__content-part
            - const smallBlue = {size: "small", color: "blue", label: "button", mixClass: "standard-buttons__button"};
            - const bigBlue = {size: "big", color: "blue", label: "button", mixClass: "standard-buttons__button"};
            - for (let i = 0; i < 3; i++)
                +standard-button(smallBlue)
                +standard-button(bigBlue)
        .standard-buttons__content-part
            - const smallRed = {size: "small", color: "red", label: "button", mixClass: "standard-buttons__button"};
            - const bigRed = {size: "big", color: "red", label: "button", mixClass: "standard-buttons__button"};
            - for (let i = 0; i < 3; i++)
                +standard-button(bigRed)
                +standard-button(smallRed)
