include ../messaging/messaging.pug
include ../ui-kit-title/ui-kit-title.pug

mixin messaging-container
    section.messaging-container
        +ui-kit-title({title: "Messaging"})
        .messaging-container__content
            - const messaging = require("../blocks/messaging-container/block-data/messaging.json");
            +messaging(messaging)
