include ../messaging/messaging.pug
include ../ui-kit-title/ui-kit-title.pug

mixin messaging-container
    section.messaging-container
        +ui-kit-title({title: "Messaging"})
        .messaging-container__content
            - const messaging = JSON.parse(fs.readFileSync("src/blocks/messaging-container/block-data/messaging.json", "utf8"));
            +messaging(messaging)
