include ../messaging/messaging.pug
include ../ui-kit-title/ui-kit-title.pug

section.messaging-container
    +ui-kit-title({title: "Messaging"})
    .messaging-container__content
        +messaging({name: "Sarah Brown", message: "Hey! So are we cool to meet at the art gallery? Say 8pm"})