.sliders
  width: 635px
  margin-bottom: 38px

  @media (max-width: 660px)
    width: 95%
    margin-bottom: 32px

  &__content
    margin-top: 7px

    &::after
      content: ""
      display: block
      clear: both

  &__first-example
    float: left
    width: 280px

    @media (max-width: 660px)
      margin: 0 auto
      float: none
      display: block

  &__second-example
    float: right
    width: 280px

    @media (max-width: 660px)
      margin: 0 auto
      transform: translateX(9px)
      float: none
      display: block
