include ../slider/slider.pug
include ../ui-kit-title/ui-kit-title.pug

mixin sliders
    section.sliders
        +ui-kit-title({title: "Sliders"})
        .sliders__content
            .sliders__first-example
                +slider({type: "red", min: 0, max: 100, step: 1})
            .sliders__second-example
                +slider({type: "cyan", min: 0, max: 100, step: 25})
