.sliders
  width 39.5625rem
  margin-bottom 2.375rem

  @media (max-width 660px)
    width 95%
    margin-bottom 2rem

  &__content
    margin-top 0.4375rem

    &::after
      content ""
      display block
      clear both

  &__first-example
    float left

  &__second-example
    float right

  &__first-example,
  &__second-example
    width 18.75rem

    @media (max-width 41.25rem)
      margin 0 auto
      float none
      display block
