include ../slider/slider.pug
include ../elem-demo-title/elem-demo-title.pug

section.sliders
    +elem-demo-title({title: "Sliders"})
    .sliders__content
        .sliders__first-example
            - const optionsRed = {type: "type-a", min: 0, max: 100};
            +slider(optionsRed)
        .sliders__second-example
            - const optionsBlue = {type: "type-b", min: 0, max: 100, step: 25};
            +slider(optionsBlue)