include ../slider/slider.pug

.sliders
    h2.sliders__title.main-container__title Sliders
    .sliders__content
        .sliders__first-example
            +slider("type-a")
        .sliders__second-example
            +slider("type-b")