include ../slider/slider.pug
include ../ui-kit-title/ui-kit-title.pug

section.sliders
    +ui-kit-title({title: "Sliders"})
    .sliders__content
        .sliders__first-example
            - const optionsRed = {type: "red", min: 0, max: 100};
            +slider(optionsRed)
        .sliders__second-example
            - const optionsBlue = {type: "blue", min: 0, max: 100, step: 25};
            +slider(optionsBlue)