mixin news()
    .news
        .news__image
        .news__text
            .news__title It's all going downhill
            .news__date 24 August 2013
            .news__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
