include ../calendar/calendar.pug
include ../section-title/section-title.pug

mixin calendar-container
    section.calendar-container
        +section-title({title: "Calendar"})
        .calendar-container__content
            +calendar
