include ../calendar/calendar.pug
include ../elem-demo-title/elem-demo-title.pug

section.calendar-container
    +elem-demo-title({title: "Calendar"})
    .calendar-container__content
        +calendar()