include ../calendar/calendar.pug
include ../ui-kit-title/ui-kit-title.pug

mixin calendar-container
    section.calendar-container
        +ui-kit-title({title: "Calendar"})
        .calendar-container__content
            +calendar
