.video-container
  @media (max-width: 655px)
    width: 93.545%

  &__content
    margin-top: 23px

    @media (max-width: 655px)
      width: 100%
      position: relative
      padding-bottom: 56.25%
      height: 0

 /* &__video
    @media (max-width: 655px)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%*/