include ../video/video.pug
include ../ui-kit-title/ui-kit-title.pug

section.video-container
    +ui-kit-title({title: "Video"})
    .video-container__content
        +video("9S7TcdkUB0w", "video-container__video")