.video-container
  @media (max-width: 655px)
    width: 93.545%

  &__video
    position: relative
    margin-top: 23px
    width: 594px
    padding-bottom: 334px

    @media (max-width: 655px)
      width: 100%
      padding-bottom: 56.25%