.video-container
  @media (max-width 655px)
    width 93.545%

  &__video
    position relative
    margin-top 1.4375rem
    width 37.125rem
    padding-bottom 20.875rem

    @media (max-width 655px)
      width 100%
      padding-bottom 56.25%
