include ../video/video.pug
include ../elem-demo-title/elem-demo-title.pug

section.video-container
    +elem-demo-title({title: "Video"})
    .video-container__content
        +video("9S7TcdkUB0w", "video-container__video")