include ../video/video.pug
include ../section-title/section-title.pug

mixin video-container
    section.video-container
        +section-title({title: "Video"})
        .video-container__video
            +video({id: "9S7TcdkUB0w"})
