.percentage
    position: relative      

    &__value
        cursor: default
        position: absolute
        top: 23px  //тут подправить!
        left: 25px
        text-align: center
        vertical-align: middle 
        font-size: 40px
        color: #9d9d9d
        font-family: "Conv_Lato-Light"