.percentage
    position: relative      

    &__value
        position: absolute
        top: 23px
        left: 25px
        font-size: 40px
        color: #9d9d9d
        font-family: "Conv_Lato-Light"