@import "../../colors"

.percentage
  position: relative      

  &__value
    width: 95px
    cursor: default
    position: absolute
    top: 23px       
    text-align: center         
    font-size: 40px
    color: percentage-value
    font-family: "Lato", "Arial", sans-serif
    font-weight: 300
    letter-spacing: -2px