include ../news-article-preview/news-article-preview.pug
include ../event/event.pug
include ../ui-kit-title/ui-kit-title.pug

section.news-events
    +ui-kit-title({title: "News & Events"})
    .news-events__content
        - const newsArticle = {
        -   title: "It's all going downhill",
        -   dateString: "2013-08-24",
        -   articleAddress: "/mock-address/",
        -   content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
        - };
        +news-article-preview(newsArticle)

        - const event = {
        -   day: "24",
        -   month: "Aug",
        -   title: "This is the title",
        -   content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
        -   mixClass: "news-events__event",
        - };
        +event(event)