.news-events
  width 37.125rem

  @media (max-width 620px)
    width 18rem

  &__content
    display flex
    justify-content space-between
    margin-top 2.0625rem

    @media (max-width 620px)
      flex-direction column

  &__event
    @media (max-width 620px)
      margin-top 0.625rem
