.news-events
  margin-bottom: 47px
  width: 594px

  @media (max-width: 620px)
    width: 288px

  &__content
    display: flex
    justify-content: space-between
    margin-top: 33px

    @media (max-width: 620px)
      flex-direction: column

  &__event
    @media (max-width: 620px)
      margin-top: 10px
