include ../article/article.pug
include ../event/event.pug
include ../elem-demo-title/elem-demo-title.pug

section.news-events
    +elem-demo-title({title: "News & Events"})
    .news-events__content
        - var article = {
        - title: "It's all going downhill",
        - date: "24 August 2013",
        - text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
        - }
        +article(article)

        - var event = {
        - day: "24",
        - month: "Aug",
        - title: "This is the title",
        - text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        - }
        +event(event)