include ../news/news.pug
include ../event/event.pug

.news-events
    h2.news-events__title.ui-kit__title News & Events
    .news-events__content
        +news("It's all going downhill", "24 August 2013", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.")
        +event("24", "Aug", "This is the title", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.")