include ../news/news.pug
include ../event/event.pug

section.news-events
    header.ui-kit__title News & Events
    .news-events__content
        - var news = {
        - title: "It's all going downhill",
        - date: "24 August 2013",
        - text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
        - }
        +news(news)

        +event("24", "Aug", "This is the title", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.")