include ../news-article-preview/news-article-preview.pug
include ../event/event.pug
include ../ui-kit-title/ui-kit-title.pug

section.news-events
    +ui-kit-title({title: "News & Events"})
    - const newsEventsDataPath = "src/blocks/news-events/block-data/";
    - const newsArticle = JSON.parse(fs.readFileSync(`${newsEventsDataPath}news.json`, "utf8"));
    - const event = JSON.parse(fs.readFileSync(`${newsEventsDataPath}event.json`, "utf8"));
    .news-events__content
        +news-article-preview(newsArticle)
        .news-events__event
            +event(event)
