include ../standard-button/standard-button.pug
mixin messaging()
    form.messaging
        .messaging__person-name
            .messaging__person-name-upper Sarah Brown
            .messaging__person-name-lower
        .messaging__person-photo
        .messaging__messages
            .messaging__icons
                .messaging__chat-icon.messaging__icon
                .messaging__camera-icon.messaging__icon
            .messaging__input-message Hey! So are we cool to meet at the art gallery? Say 8pm
            textarea.messaging__output-message
            +standard_button("big", "blue", "reply")