include ../standard-button/standard-button.pug
include ../text-field/text-field.pug

mixin messaging({name, message, photo} = {})
    form.messaging
        .messaging__person-name
            .messaging__person-name-upper=name
            .messaging__person-name-lower
        .messaging__person-photo(style=`background-image: url(${photo})`)
        .messaging__messages
            .messaging__icons
                .messaging__icon.messaging__icon_chat
                .messaging__icon.messaging__icon_camera
            .messaging__input-message-wrapper
                .messaging__input-message=message
            .messaging__output-message
                +text-field({outlined: true})
            .messaging__reply
                +standard-button({size: "big", color: "cyan", label: "reply", filled: true, long: true})
