@import "../../colors"

.messaging
  width 18rem
  border-radius 0.25rem
  overflow hidden
  position relative

  &__sender-name
    font-family "Source Sans Pro", "Arial", sans-serif
    font-weight 300
    text-align center
    line-height 4.8125rem
    height 5.125rem
    font-size 2.125rem
    letter-spacing -0.03em
    color $white
    background-color $main-cyan
    overflow hidden
    border-bottom 2.125rem solid $cyan

  &__sender-avatar
    position absolute
    top 4.4375rem
    left 5.875rem

  &__main-container
    padding 1.3125rem 1.375rem 1.8125rem
    background-color $grey-f2

  &__icons
    margin-bottom 0.6875rem
    display flex
    justify-content space-between

  &__icon
    height 1.875rem
    width 1.875rem

    &_chat
      background url("img/messaging-chat-icon.png") no-repeat 0.3125rem 0.0625rem

    &_camera
      background url("img/messaging-camera-icon.png") no-repeat

  &__outgoing-message
    margin 1.0625rem auto 0.9375rem
    height 5.5rem
    width 15.25rem

  &__reply
    text-align center
