include ../standard-button/standard-button.pug
include ../text-field/text-field.pug
include ../user-avatar/user-avatar.pug
include ../incomming-message/incomming-message.pug

mixin messaging({senderName, incommingMessage, senderAvatar} = {})
    form.messaging
        .messaging__sender-name=senderName
        .messaging__sender-avatar
            +user-avatar({imgPath: senderAvatar})
        .messaging__main-container
            .messaging__icons
                .messaging__icon.messaging__icon_chat
                .messaging__icon.messaging__icon_camera
            .messaging__incomming-message
                +incomming-message({message: incommingMessage})
            .messaging__outgoing-message
                +text-field({outlined: true})
            .messaging__reply
                +standard-button({size: "big", color: "cyan", label: "reply", filled: true, long: true})
