include ../standard-button/standard-button.pug

mixin messaging(personName, message)
    form.messaging
        .messaging__person-name
            .messaging__person-name-upper #{personName}
            .messaging__person-name-lower
        .messaging__person-photo
        .messaging__messages
            .messaging__icons
                .messaging__chat-icon.messaging__icon
                .messaging__camera-icon.messaging__icon
            .messaging__input-message #{message}
            textarea.messaging__output-message
            +standard_button("big", "blue", "reply")