include ../standard-button/standard-button.pug

mixin messaging(personName, message)
    form.messaging
        .messaging__person-name
            .messaging__person-name-upper #{personName}
            .messaging__person-name-lower
        img(class="messaging__person-photo" src="blocks/messaging/img/messaging-woman.png" alt="photo")
        .messaging__messages
            .messaging__icons
                .messaging__icon_chat.messaging__icon
                .messaging__icon_camera.messaging__icon
            .messaging__input-message #{message}
            textarea.messaging__output-message
            +standard_button({size: "big", color: "blue", label: "reply", filled: true, long: true, mixClass: "messaging__reply"})