include ../standard-button/standard-button.pug

.standard-buttons-container   
    h2.standard-buttons-container__title.main-container__title Standard buttons
    .standard-buttons-container__content
        .standard-buttons-container__buttons
            - for(i = 0; i < 3; i++)
                +standard_button("small", "blue", "button") 
                +standard_button("big", "blue", "button")
        .standard-buttons-container__buttons
            - for(i = 0; i < 3; i++)
                +standard_button("big", "red", "button") 
                +standard_button("small", "red", "button")
