.standard-buttons-container
    width: 465px
    margin-left: auto
    margin-right: auto
    margin-bottom: 36px 

    &__content
        margin-top: 70px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-end 
        
        .standard-button
            margin-bottom: 21px

//@media (max-width: 
