.standard-buttons-container
    width: 465px
    margin-bottom: 36px 

    &__content
        margin-top: 70px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-end 
        
    .standard-button
        margin-bottom: 21px
    
    &__buttons
        width: 219px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-end

@media (max-width: 490px)
    .standard-buttons-container
        width: 232.5px
