@import "../../colors"

.send-message
  width 18rem

  &__input-field
    width 72.22222%
    height 1.75rem
    display inline-block
    margin-bottom 0.75rem

  &__validation-message
    float right

  &__message
    height 5.5rem
    margin-bottom 0.625rem

  &__submit
    float right

  &::after
    content ""
    display block
    clear both
