.send-message
    &__input
        box-sizing: border-box
        background-color: #e5e5e5
        outline: none
        border: none
        border-radius: 4px
        color: #888888
        font-size: 14px
        padding-left: 13px
        font-family: "Source Sans Pro"
        font-weight: 400
        font-style: normal
        font-stretch: normal
    
    &__name,
    &__email
        padding-bottom: 3px
        width: 208px
        height: 28px
        margin-bottom: 12px

    &__message
        padding-top: 9px               
        width: 288px
        height: 88px
        resize: none
        margin-bottom: 10px        

    .standard-button
        float: right

   // &__name::after
