.send-message
    width: 288px

    &__data
        box-sizing: border-box
        background-color: #e5e5e5
        outline: none
        border: none
        border-radius: 4px
        color: #666666
        font-size: 14px
        padding-left: 13px
        font-family: "Source Sans Pro"
        font-weight: 400
        letter-spacing: 0.01em
        font-style: normal
        font-stretch: normal

        &::placeholder
            color: #888888
    
    &__name-field,
    &__email-field
        padding-bottom: 3px
        width: 208px
        height: 28px
        margin-bottom: 12px

    &__message
        padding-top: 9px               
        width: 288px
        height: 88px
        resize: none
        margin-bottom: 6px        

    .standard-button
        float: right
        background-color: #4eb7a8
        box-shadow: 0 3px 0 0 #28a290
        color: #ffffff

    &__validation-message        
        opacity: 0        
        position: relative
        float: right
        width: 72px
        height: 28px
        border-radius: 4px
        font-family: "Lato"
        font-weight: 900
        letter-spacing: 0.05em
        color: #ffffff
        font-size: 10px
        text-align: center
        line-height: 28px
        background-color: #4eb7a8

        &::before
            content: ""
            display: block
            position: absolute
            left: -4px
            top: 10px           
            border-style: solid
            border-width: 4px 4px 4px 0
            border-color: transparent #4eb7a8 transparent transparent

        &_error            
            background-color: #e75735            

            &::before
                border-right-color: #e75735