mixin article({title, date, text, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    article(class="article" + mixClass)
        .article__image
        .article__text
            header.article__header
                h3.article__title #{title}
                .article__date #{date}
            p.article__content #{text}
