mixin article({title, date, text, mixClass = ""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    div(class="article" + mixClass)
        .article__image
        .article__text
            .article__title #{title}
            .article__date #{date}
            .article__content #{text}
