.article
  width: 288px
  height: 212px
  border-radius: 3px
  overflow: hidden

  &__image
    width: 95px
    height: 212px
    display: inline-block
    background-image: url("/img/article-sample.jpg")
    background-size: cover

  &__text
    font-family: "Lato", "Arial", sans-serif
    box-sizing: border-box
    padding-left: 22px
    padding-top: 22px
    padding-right: 20px
    line-height: 0.9
    width: 193px
    height: 212px
    display: inline-block
    vertical-align: top
    background-color: #e75735
    color: #ffffff

  &__title
    margin: 0
    font-weight: 300
    font-size: 28px
    line-height: 26px
    max-height: 52px
    overflow: hidden

  &__date
    font-weight: 900
    font-size: 11px
    margin-top: 13px
    margin-bottom: 15px
    text-transform: uppercase
    word-spacing: 5px
    max-height: 9px
    overflow: hidden

  &__content
    margin: 0
    font-weight: 400
    font-size: 11px
    line-height: 13px
    letter-spacing: 0.05em
    max-height: 80px
    overflow: hidden
