include ../toggle/toggle.pug
include ../elem-demo-title/elem-demo-title.pug

section.toggles
    +elem-demo-title({title: "toggles"})
    .toggles__content
        +toggle({mixClass: "toggles__toggle"})
        +toggle({enabled: true, mixClass: "toggles__toggle"})