include ../toggle/toggle.pug
include ../section-title/section-title.pug

mixin toggles
    section.toggles
        +section-title({title: "toggles"})
        .toggles__content
            .toggles__toggle
                +toggle({enabled: false})
            .toggles__toggle
                +toggle
