include ../toggle/toggle.pug
include ../elem-demo-title/elem-demo-title.pug

.toggles
    +elem-demo-title({title: "toggles"})
    .toggles__content
        +toggle("disabled", "toggles__toggle")
        +toggle("enabled", "toggles__toggle")