.arrow-buttons
  padding-bottom: 45px
  width: 420px

  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 35px

  &__content-part
    width: 198px
    display: flex
    justify-content: space-between


@media (max-width: 560px)
  .arrow-buttons
    width: 210px

    &__content-part:nth-child(2)
      margin-top: 10px
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
