include ../arrow-button/arrow-button.pug
include ../elem-demo-title/elem-demo-title.pug

section.arrow-buttons
    +elem-demo-title({title: "Arrow buttons"})
    .arrow-buttons__content
        .arrow-buttons__content-part
            +arrow-button({direction: "left"})
            +arrow-button({direction: "right"})
            +arrow-button({direction: "left", disabled: true})
        .arrow-buttons__content-part
            +arrow-button({direction: "right", disabled: true})
            +arrow-button({direction: "left"})
            +arrow-button({direction: "right"})