include ../arrow-button/arrow-button.pug

section.arrow-buttons
    h2.ui-kit__title Arrow buttons
    .arrow-buttons__content
        .arrow-buttons__content-part
            +arrow_button("left")
            +arrow_button("right")
            +arrow_button("left")(disabled="true")
        .arrow-buttons__content-part
            +arrow_button("right")(disabled="true")
            +arrow_button("left")
            +arrow_button("right")