include ../arrow-button/arrow-button.pug

section.arrow-buttons
    header.arrow-buttons__title.ui-kit__title Arrow buttons
    .arrow-buttons__content
        .arrow-buttons__part
            +arrow_button("left")
            +arrow_button("right")
            +arrow_button("left")
        .arrow-buttons__part
            +arrow_button("right")
            +arrow_button("left")
            +arrow_button("right")