.arrow-buttons
  padding-bottom: 45px
  width: 420px

  @media (max-width: 560px)
    width: 210px

  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 35px

  &__content-part
    width: 198px
    display: flex
    justify-content: space-between

    &:nth-child(2)
      @media (max-width: 560px)
        margin-top: 10px
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
