include ../arrow-button/arrow-button.pug
include ../elem-demo-title/elem-demo-title.pug

section.arrow-buttons
    +elem_demo_title("Arrow buttons")
    .arrow-buttons__content
        .arrow-buttons__content-part
            +arrow_button({direction: "left"})
            +arrow_button({direction: "right"})
            +arrow_button({direction: "left", disabled: true})
        .arrow-buttons__content-part
            +arrow_button({direction: "right", disabled: true})
            +arrow_button({direction: "left"})
            +arrow_button({direction: "right"})