.arrow-buttons
  margin-bottom: 45px
  width: 422px

  @media (max-width: 490px)
    width: 210px

  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 35px

  &__content-part
    width: 198px
    display: flex
    justify-content: space-between

    &:nth-child(2)
      @media (max-width: 490px)
        margin-top: 10px
        flex-direction: row-reverse
