.standard-button-big
    padding: 0
    width: 118px
    height: 32px   
    border-radius: 3px        
    font-size: 12px 
    background-color: #ffffff
    text-transform: uppercase

    &_red
        color: #e34a26
        box-shadow: 0 3px 0 0 #e75735
        border: 1px solid #e75735

    &_blue
        color: #44ae9f
        box-shadow: 0 3px 0 0 #4eb7a8
        border: 1px solid #4eb7a8

    &:hover
        border: none   
        color: #ffffff 

    &_red:hover
        background-color: #e75735
        box-shadow: 0 3px 0 0 #bf3e1f        
    
    &_blue:hover
        background-color: #4eb7a8
        box-shadow: 0 3px 0 0 #28a290       

           