mixin search({placeholder = "Search", notFound = false} = {})
    form.search
        input.search__field(class=notFound ? "search__field_not-found" : "" type="text" placeholder=placeholder)
        button.search__button
            i.fa.fa-search.search__icon(aria-hidden="true")
