mixin search({placeholder, notFound = false})
	form.search
		if (notFound)
			input.search__field.search__field_not-found(type="text" placeholder=placeholder)
		else
			input.search__field(type="text" placeholder=placeholder)
		button.search__button
			i.fa.fa-search.search__icon(aria-hidden="true")
