mixin search(placeholder)
	form.search&attributes(attributes)
		input(type="text" placeholder=placeholder class="search__field")
		button(class="search__button")
			i(class="fa fa-search" aria-hidden="true")