.stages
    clear: both
    width: 570px
    height: 5px
    border: none !important
    background-color: #e5e5e5
    
    .ui-slider-handle
        height: 29px
        width: 29px
        border: none
        outline: none 
        border-radius: 50%
        background-color: #e75735
        top: -13px

    /*.ui-slider-pip 
        background: red
        width: 12px
        height: 12px*/
