$color-main = #e75735
$color-label = #888888
$color-disabled = #e5e5e5

.stages
  width: 577px

  &__stage
    cursor: default
    position: relative
    display: inline-block
    border-radius: 50%
    font-family: "Lato", "Arial", sans-serif
    font-weight: 900
    font-size: 14px
    text-align: center
    line-height: 29px
    width: 29px
    height: 29px
    margin-left: 108px
    cursor: pointer

    &::before
      content: ""
      display: block
      position: absolute
      top: 13px
      right: 29px
      height: 5px
      width: 108px

    &:first-child
      margin-left: 0

      &::before
        display: none

    &-active
      background-color: $color-main
      color: white

      &::before
        background-color: $color-main

    &-inactive
      background-color: $color-disabled
      color: $color-label

      &::before
        background-color: $color-disabled