@import "../../colors"

.arrow-button
  outline: none
  position: relative    
  width: 50px
  height: 50px
  border-radius: 50%
  border: 3px solid main-blue
  background-color: white
  cursor: pointer

  &::after
    content: ""
    position: absolute
    top: 14px
    width: 13px
    height: 13px        
    border-top: 4px solid main-blue
    border-right: 4px solid main-blue  

  &_right::after
    transform: rotate(45deg)        
    right: 16px
  
  &_left::after
    transform: rotate(-135deg)
    left: 16px
            
  &:hover
    background-color: main-blue    

    &::after
      border-color: white
      background-color: main-blue
  
  &:disabled
    background-color: disabled-grey
    border-color: disabled-grey
    cursor: default
    
    &::after
      border-color: white
      background-color: disabled-grey

  &:focus
    outline: 2px solid #e5e5e5