@import "../../colors"

.validation-message
  position relative
  width 4.5rem
  line-height 1.75rem
  border-radius 0.25rem
  font-family "Lato", "Arial", sans-serif
  font-weight 900
  font-size 0.625rem
  text-transform uppercase
  letter-spacing 0.05em
  color white
  text-align center
  background-color $main-cyan

  &::before
    content ""
    display block
    position absolute
    left -0.25rem
    top 50%
    transform translateY(-50%)
    border-style solid
    border-width 0.25rem 0.25rem 0.25rem 0
    border-color transparent $main-cyan transparent transparent

  &_invalid
    background-color $main-red

    &::before
      border-right-color $main-red
