include ../standard-button/standard-button.pug

mixin event({day, month, title, text})
    article.event
        .event__image
        .event__main
            header.event__header
                .event__date
                    .event__day #{day}
                    .event__month #{month}
                h3.event__title #{title}
            p.event__content #{text}
            +standard-button({size: "big", color: "blue", label: "add to calendar", darkShadow: true, thin: true, mixClass: "event__add-btn"})
