include ../standard-button/standard-button.pug

mixin event(options)
    - const day = options.day;
    - const month = options.month;
    - const title = options.title;
    - const text = options.text;
    article.event
        .event__image
        .event__main
            header.event__header
                .event__date
                    .event__day #{day}
                    .event__month #{month}
                h1.event__title #{title}
            p.event__content #{text}
            +standard_button({size: "big", color: "blue", label: "add to calendar", dark: true, thin: true})
