include ../standard-button/standard-button.pug

mixin event({day, month, title, content, mixClass=""})
    - mixClass = mixClass ? " " + mixClass : mixClass;
    div(class="event" + mixClass)
        .event__image
        .event__main
            .event__date
                .event__day=day
                .event__month=month
            .event__title=title
            .event__content=content
            +standard-button({size: "big", color: "blue", label: "add to calendar", darkShadow: true, thin: true, mixClass: "event__add-btn"})
