include ../standard-button/standard-button.pug

mixin event(options)
    - var day = options.day
    - var month = options.month
    - var title = options.title
    - var text = options.text
    .event
        .event__image
        .event__text
            .event__date
                .event__day #{day}
                .event__month #{month}
            .event__title #{title}
            .event__content #{text}
            +standard_button({size: "big", color: "blue", label: "add to calendar"})
