.percentages-pie-chart
  width: 36.75rem
  margin-bottom: 2.25rem

  @media (max-width: 605px)
    width: 30.8125rem

  @media (max-width: 510px)
    width: 24.875rem

  @media (max-width: 415px)
    width: 100%

  &__content
    display: flex
    justify-content: space-between
    margin-top: 1.4375rem

    @media (max-width: 510px)
      justify-content: space-around

  &__percentage
    &:first-child
      @media (max-width: 605px)
        display: none

    &:nth-child(2)
      @media (max-width: 510px)
        display: none
