include ../percentage/percentage.pug
include ../pie-chart/pie-chart.pug

section.percentages-pie-chart
    h2.ui-kit__title.percentages-pie-chart__title Percentages / Pie Chart
    .percentages-pie-chart__content
        +percentage(0)
        +percentage(38)
        +percentage(62)
        +percentage(89)
        +pie_chart(6, 12, 26, 30)