include ../percentage/percentage.pug
include ../pie-chart/pie-chart.pug
include ../elem-demo-title/elem-demo-title.pug

section.percentages-pie-chart
    +elem-demo-title({title: "Percentages / Pie Chart", shrunk: true})
    .percentages-pie-chart__content
        +percentage(0)
        +percentage(38)
        +percentage(62)
        +percentage(89)
        +pie_chart({val1: 6, val2: 12, val3: 26, val4: 30})