.percentages-pie-chart
  width 36.75rem

  @media (max-width 605px)
    width 23rem

  &__content
    display flex
    justify-content center
    margin-top 1.4375rem
    flex-wrap wrap

  &__percentage
    margin-right 1.75rem
