include ../calendar/calendar.pug

.calendar-messaging-container
    .calendar-container
        h2.calendar-container__title.main-container__title Calendar
        .calendar-container__content
            +calendar()