include ../send-message/send-message.pug
include ../section-title/section-title.pug
include ../toggles/toggles.pug
include ../tick-boxes/tick-boxes.pug

mixin form-elements
    section.form-elements
        +section-title({title: "Form Elements"})
        .form-elements__content
            .form-elements__send-message
                +send_message
            .form-elements__toggles-tick-boxes
                .form-elements__toggles-container
                    +toggles
                +tick-boxes
