.form-elements
  margin-bottom: 67px
  width: 100%

  &__content
    margin-top: 45px
    padding-left: 21px

  &__send-message
    margin-top: 4px
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    width: 48.93%

    @media (max-width: 637px)
      display: block
      width: 288px
      margin: 0 auto

  &__toggles-tick-boxes
    display: inline-block
    width: 51.07%

    @media (max-width: 637px)
      display: block
      margin: 50px auto 0
