include ../send-message/send-message.pug
include ../elem-demo-title/elem-demo-title.pug

section.form-elements
    +elem-demo-title({title: "Form Elements"})
    .form-elements__content
        .form-elements__send-message-container
            +send_message("form-elements__send-message")
        .form-elements__toggles-tick-boxes
            include ../toggles/toggles.pug
            include ../tick-boxes/tick-boxes.pug

