include ../send-message/send-message.pug

section.form-elements
    header.ui-kit__title Form Elements
    .form-elements__content
        .send-message-container
            +send_message()
        .toggles-tick-box-container
            include ../toggles/toggles.pug
            include ../tick-boxes/tick-boxes.pug
            
    