include ../calendar/calendar.pug
include ../messaging/messaging.pug
include ../elem-demo-title/elem-demo-title.pug

.calendar-messaging
    section.calendar-container
        +elem-demo-title({title: "Calendar"})
        .calendar-container__content
            +calendar()

    section.messaging-container
        +elem-demo-title({title: "Messaging"})
        .messaging-container__content
            +messaging({name: "Sarah Brown", message: "Hey! So are we cool to meet at the art gallery? Say 8pm"})
