include ../calendar-container/calendar-container.pug
include ../messaging-container/messaging-container.pug

mixin calendar-messaging({messageData = {}} = {})
    .calendar-messaging
        +calendar-container
        +messaging-container({messageData: messageData})
