include ../calendar-container/calendar-container.pug
include ../messaging-container/messaging-container.pug

mixin calendar-messaging
    .calendar-messaging
        +calendar-container
        +messaging-container
