include ../calendar/calendar.pug
include ../messaging/messaging.pug

.calendar-messaging
    section.calendar-container
        header.ui-kit__title Calendar
        .calendar-container__content
            +calendar()

    section.messaging-container
        header.ui-kit__title Messaging
        .messaging-container__content
            +messaging("Sarah Brown", "Hey! So are we cool to meet at the art gallery? Say 8pm")
