include ../percentage/percentage.pug
include ../pie-chart/pie-chart.pug

.percentages-pie-chart-container
    h2.percentages-pie-chart-container__title.main-container__title Percentages / Pie Chart
    .percentages-pie-chart-container__content
        +percentage(0)
        +percentage(38)
        +percentage(62)
        +percentage(89)
        +pie_chart(6, 12, 26, 30)