.percentages-pie-chart-container
    width: 588px
    margin-left: auto
    margin-right: auto
    margin-bottom: 32px

    &__content
        display: flex
        justify-content: space-between
        margin-top: 23px