.percentages-pie-chart-container
    width: 588px
    margin-bottom: 32px

    &__title
        word-spacing: -0.1em

    &__content
        display: flex
        justify-content: space-between
        margin-top: 23px
    
@media (max-width: 605px)
    .percentages-pie-chart-container
        width: 493px 
        .percentage:first-child
            display: none

@media (max-width: 510px)
    .percentages-pie-chart-container
        width: 398px 
        .percentage:nth-child(2)
            display: none

@media (max-width: 415px)
    .percentages-pie-chart-container
        width: 100%