.percentages-pie-chart-container
    width: 36.75rem
    margin-left: auto
    margin-right: auto
    margin-bottom: 2rem

    &__title
        word-spacing: -0.1em

    &__content
        display: flex
        justify-content: space-between
        margin-top: 1.4375rem

    .pie-chart
        width: 5.9375rem
        height: 5.9375rem

    .percentage__value
            width: 5.9375rem            
            top: 1.4375rem                     
            font-size: 2.5rem            
            letter-spacing: -0.125rem