.standard-button-small
    outline: none
    padding: 0
    width: 78px
    height: 22px    
    border-radius: 3px    
    font-size: 10px  
    background-color: #ffffff
    text-transform: uppercase
    font-family: "Conv_Lato-Black"
    letter-spacing: 0.5px
    

    &_red
        color: #e34a26
        box-shadow: 0 2px 0 0 #e75735
        border: 1px solid #e75735

    &_blue
        color: #44ae9f
        box-shadow: 0 2px 0 0 #4eb7a8
        border: 1px solid #4eb7a8

    &:hover,
    &:active
        border: none   
        color: #ffffff
        cursor: pointer

    &_red:hover
        background-color: #e75735
        box-shadow: 0 2px 0 0 #bf3e1f        
    
    &_blue:hover
        background-color: #4eb7a8
        box-shadow: 0 2px 0 0 #28a290        

    &_red:active
        transform: translateY(2px)
        background-color: #e75735
        box-shadow: none

    &_blue:active
        transform: translateY(2px)       
        background-color: #4eb7a8
        box-shadow: none 