mixin pie-chart({values})
    - let valuesDataAttributes = {};
    - for (let i = 0; i < values.length; i += 1) {
    -   valuesDataAttributes[`data-val${i}`] = values[i];
    - }
    .pie-chart.js-pie-chart&attributes(valuesDataAttributes)
        canvas.pie-chart__canvas.js-pie-chart__canvas
