doctype html
html(lang="ru")
    head
    body
        include main-container/main-container.pug  
        script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")