doctype html
html(lang="ru")
    head
    body
        include standard-button-big/standard-button-big.pug
        +standard_button_big()
        include standard-button-small/standard-button-small.pug
        +standard_button_small()