.sliders-container
    width: 589px
    height: 135px

    &__content        
        margin-top: 46px

        &::after
            content: ""
            display: block
            clear: both

    &__first-example
        float: left
    &__second-example
        float: right