include ../slider/slider.pug

.sliders-container
    h2.sliders-container__title.main-container__title Sliders
    .sliders-container__content
        .sliders-container__first-example
            +slider("type-a")
        .sliders-container__second-example
            +slider("type-b")