include ../slider/slider.pug

.sliders-container
    h2.sliders-container__title.main-container__title Sliders
    .sliders-container__content
        .sliders-container__first-example
            +slider("type-a", 0, 100)
        .sliders-container__second-example
            +slider("type-b", 0, 100, 25)