.user-profile-container
  width 50%
  float right

  @media (max-width 637px)
    width 18rem
    float none
    margin-left auto
    margin-right auto

  &__content
    padding-left 1.75rem
    margin-top 1.8125rem

    @media (max-width 637px)
      padding 0

  &__profile
    margin-bottom 1.625rem
