include ../user-profile/user-profile.pug
include ../ui-kit-title/ui-kit-title.pug

mixin user-profile-container
    section.user-profile-container
        +ui-kit-title({title: "User profile"})
        .user-profile-container__content
            - const manProfile = require("../blocks/user-profile-container/block-data/man-profile.json");
            - const womanProfile = require("../blocks/user-profile-container/block-data/woman-profile.json");
            .user-profile-container__profile
                +user-profile(manProfile)
            .user-profile-container__profile
                +user-profile(womanProfile)
