include ../user-profile/user-profile.pug
include ../ui-kit-title/ui-kit-title.pug

section.user-profile-container
    +ui-kit-title({title: "User profile"})
    .user-profile-container__content
        - const userProfileDataPath = "src/blocks/user-profile-container/block-data/";
        - const manProfile = JSON.parse(fs.readFileSync(`${userProfileDataPath}man-profile.json`, "utf8"));
        - const womanProfile = JSON.parse(fs.readFileSync(`${userProfileDataPath}woman-profile.json`, "utf8"));
        .user-profile-container__profile
            +user-profile(manProfile)
        .user-profile-container__profile
            +user-profile(womanProfile)
