.user-profile-container
    width: 297px
    display: inline-block
    vertical-align: top
    margin-bottom: 68px    

    &__content
        padding-left: 28px
        margin-top: 28px

@media (max-width: 660px)
        .user-profile-container
            margin-top: 20px
            display: block
            margin-left: auto
            margin-right: auto
            
            &__content
                text-align: center                
                padding-left: 0