include ../user-profile/user-profile.pug

section.user-profile-container
    header.ui-kit__title User Profile
    .user-profile-container__content
        +user_profile({color: "grey", name: "John Smith", profession: "Ux Designer", photo: "user-profile/img/user-profile-man.png"})
        +user_profile({color: "blue", name: "Sarah Brown", profession: "Developer", photo: "user-profile/img/user-profile-woman.png"})