include ../user-profile/user-profile.pug
include ../elem-demo-title/elem-demo-title.pug

section.user-profile-container
    +elem-demo-title({title: "User profile"})
    .user-profile-container__content
        - const manProfile = {
        -   color: "grey",
        -   name: "John Smith",
        -   profession: "Ux Designer",
        -   photo: "img/user-profile-man.jpg",
        -   mixClass: "user-profile-container__profile"
        - };
        +user-profile(manProfile)
        - const womanProfile = {
        -   color: "blue",
        -   name: "Sarah Brown",
        -   profession: "Developer",
        -   photo: "img/user-profile-woman.jpg",
        -   mixClass: "user-profile-container__profile"
        - };
        +user-profile(womanProfile)