include ../tick-box/tick-box.pug
include ../elem-demo-title/elem-demo-title.pug

section.tick-boxes
    +elem_demo_title("Tick Boxes")
    .tick-boxes__content
        +tick_box("checked")
        +tick_box("unchecked")