include ../tick-box/tick-box.pug
include ../elem-demo-title/elem-demo-title.pug

.tick-boxes
    +elem_demo_title("Tick Boxes")
    .tick-boxes__content
        +tick_box("checked", "tick-boxes__tick-box")
        +tick_box("unchecked", "tick-boxes__tick-box")