include ../tick-box/tick-box.pug
include ../elem-demo-title/elem-demo-title.pug

section.tick-boxes
    +elem-demo-title({title: "Tick Boxes"})
    .tick-boxes__content
        +tick_box("checked", "tick-boxes__tick-box")
        +tick_box("unchecked", "tick-boxes__tick-box")