include ../tick-box/tick-box.pug
include ../elem-demo-title/elem-demo-title.pug

section.tick-boxes
    +elem-demo-title({title: "Tick Boxes"})
    .tick-boxes__content
        +tick-box({checked: true, mixClass: "tick-boxes__tick-box"})
        +tick-box({mixClass: "tick-boxes__tick-box"})