mixin toggle({enabled = true, label = ""} = {})
    label(class=label ? "toggle" : "toggle toggle_not-labeled")=label
        if (enabled)
            input.toggle__auxiliary-checkbox(type="checkbox" checked)
            .toggle__switch
        else
            input.toggle__auxiliary-checkbox(type="checkbox")
            .toggle__switch
