mixin toggle({enabled = true, label = ""} = {})
    label(class=label ? "toggle" : "toggle toggle_not-labeled")=label
        input.toggle__auxiliary-checkbox(type="checkbox" checked=enabled)
        .toggle__switch
