.search-dropdown-container
    width: 297px
    display: inline-block

    &__title
        word-spacing: normal

    &__content
        margin-top: 1.125rem
    

@media (max-width: 660px)
    .search-dropdown-container
        display: block
        margin-left: auto
        margin-right: auto