.search-dropdown-container
    box-sizing: border-box
    width: 50%
    padding-left: 13px
    display: inline-block    

    &__title
        word-spacing: normal

    &__content
        margin-top: 20px

@media (max-width: 637px)
    .search-dropdown-container
        &__content
            .search
                width: 97.135%
                    
            .select2-container
                width: 97.13% !important
                
                .selection 
                    .select2-selection
                        width: 100%