include ../tick-box/tick-box.pug

.tick-box-container
    h2.tick-box-container__title.main-container__title Tick Boxes
    .tick-box-container__content
        +tick_box("checked")
        +tick_box("unchecked")