main-red = #e75735
main-blue = #4eb7a8
disabled-grey = #e5e5e5

ui-kit-title = #4f4f4f

btn-red-shadow = #bf3e1f
btn-blue-shadow = #28a290
btn-red-text = #e34a26
btn-blue-text = #44ae9f

percentage-value = #9d9d9d

stages-label = #888888

send-msg-text = send-msg-outline = #666666
send-msg-input-background = #e5e5e5
send-msg-placeholder = #888888
send-msg-btn-shadow = #28a290

tick-box-tick = #cecece

search-text = #666666
search-background = #e5e5e5
search-btn-hover = #c94d2f