main.ui-kit
    include ../standard-buttons/standard-buttons.pug
    include ../arrow-buttons/arrow-buttons.pug
    include ../percentages-pie-chart/percentages-pie-chart.pug
    include ../sliders-container/sliders-container.pug
    //include ../stages-container/stages-container.pug
    //include ../form-elements-container/form-elements-container.pug
    //include ../search-user-profile-container/search-user-profile-container.pug
    //include ../news-events-container/news-events-container.pug
    //include ../location-container/location-container.pug
    //include ../calendar-messaging-container/calendar-messaging-container.pug
    //include ../video-container/video-container.pug