.ui-kit
  margin 0 auto
  width 39.6875rem
  padding-top 4.5625rem
  padding-bottom 6.8125rem
  display flex
  flex-direction column
  align-items center

  @media (max-width 652px)
    width 100%

  &__standard-buttons
    margin-bottom 2.25rem

  &__arrow-buttons
    margin-bottom 2.8125rem

  &__percentages-pie-chart
    margin-bottom 2.25rem

  &__sliders
    margin-bottom 2.375rem

  &__stages
    margin-bottom 3.375rem

  &__form-elements
    width 100%
    margin-bottom 4.1875rem

  &__search-user-profile
    width 100%
    margin-bottom 4.1875rem

  &__news-events
    margin-bottom 2.9375rem

  &__location
    margin-bottom 3.125rem

    @media (max-width 655px)
      width 93.386%

  &__calendar-messaging
    margin-bottom 3.3125rem
