include ../standard-buttons/standard-buttons.pug
include ../arrow-buttons/arrow-buttons.pug
include ../percentages-pie-chart/percentages-pie-chart.pug
include ../sliders/sliders.pug
include ../stages-container/stages-container.pug
include ../form-elements/form-elements.pug
include ../search-user-profile/search-user-profile.pug
include ../news-events/news-events.pug
include ../location-container/location-container.pug
include ../calendar-messaging/calendar-messaging.pug
include ../video-container/video-container.pug

mixin ui-kit(blockData)
    .ui-kit
        .ui-kit__standard-buttons
            +standard-buttons
        .ui-kit__arrow-buttons
            +arrow-buttons
        .ui-kit__percentages-pie-chart
            +percentages-pie-chart
        .ui-kit__sliders
            +sliders
        .ui-kit__stages
            +stages-container
        .ui-kit__form-elements
            +form-elements
        .ui-kit__search-user-profile
            +search-user-profile(blockData.userProfile)
        .ui-kit__news-events
            +news-events({newsData: blockData.news, eventData: blockData.event})
        .ui-kit__location
            +location-container
        .ui-kit__calendar-messaging
            +calendar-messaging(blockData.messaging)
        +video-container
        script(src="https://maps.google.com/maps/api/js?key=AIzaSyAOCIrJxKv-dWFvk6Ki9Wix-mJPiKKBKHc")
