.stages-container
  margin-bottom: 54px

  &__content
    margin-top: 25px

  .stages
    @media (max-width: 600px)
      width: 465px

    @media (max-width: 490px)
      width: 365px

    @media (max-width: 385px)
      width: 305px

    &__stage
      @media (max-width: 600px)
        margin-left: 80px

      @media (max-width: 490px)
        margin-left: 55px

      @media (max-width: 385px)
        margin-left: 40px


    &__stage::before
      @media (max-width: 600px)
        width: 80px

      @media (max-width: 490px)
        width: 55px

      @media (max-width: 385px)
        width: 40px