include ../stages/stages.pug
include ../ui-kit-title/ui-kit-title.pug

mixin stages-container
    section.stages-container
        +ui-kit-title({title: "Stages"})
        .stages-container__content
            +stages
