.stages-container
    margin-bottom: 3.375rem

    &__content
        margin-top: 1.5625rem

    .stages    
        width: 36.0625rem

        &__stage
            font-size: 0.875rem
            line-height: 1.8125rem        
            width: 1.8125rem
            height: 1.8125rem
            margin: 0 0 0 6.75rem       

            &::before
                top: 0.8125rem
                right: 1.8125rem
                height: 0.3125rem
                width: 6.75rem            