include ../stages/stages.pug
include ../section-title/section-title.pug

mixin stages-container
    section.stages-container
        +section-title({title: "Stages"})
        .stages-container__content
            +stages
